# OS artifacts
.DS_Store

# Installed dependencies
node_modules

# Editor files
*.sublime-project
*.sublime-workspace

# Compiled files
dist

# iPython notebook backups
.ipynb_checkpoints

# Logs
*.log

# Data files.
data_analysis/data/watches.json
