/*  Crosshair animation during geo localization  */
.blink {
  animation: blinker 0.7s cubic-bezier(0.8, 0.01, 0.26, 0.98) infinite alternate;
}

@keyframes blinker {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0.2;
  }
}


/*  Overwrite the US Standards styling to not mess up the appearance of the Firebase UI login form.  */
#firebaseui-auth-container > div > form > div.firebaseui-card-content label {
  display: inherit;
  margin-top: inherit;
  max-width: inherit;
}

#firebaseui-auth-container > div > form > div.firebaseui-card-content input {
  box-shadow: none;
  outline: none;
  outline-color: transparent;
  outline-style: none;
}
