/*  Base Application Styles  */
body  {
  background: #222;
  color: #fff;
}

/*  TODO: Replace the blockquote styling by inline styling when I got the desired layout from John  */
blockquote {
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  border-radius: 5px;
  max-width: 500px;

  /* Font */
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;
}

blockquote::before {
  content: "\201C"; /* Unicode for Left Double Quote */

  /* Font */
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;

  /* Positioning */
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after {
  /* Reset to make sure */
  content: "";
}

blockquote a {
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote em {
  font-style: italic;
}
